@media (max-width:46.25em) {
    .slider-content{
        display: none;
    }
    .member-list{
        flex-direction: column;
    }
    #tour .address{
        flex-direction: column;
    }
    #contact .form-input{
        flex-direction: column;
    }
    #contact .form-address{
        width: 100%;
    }
    #contact .form-row{
        flex-direction: column;
    }
    #nav {
        overflow: hidden;
    }
    #nav .search {
        display: none;
    }
    #nav .nav-item{
        display: block;
    }

    #nav .nav-item a{
        display: block;
        width: 100%;
    }
    #nav .nav-item .child{
        display: inline-block;
    }
    #nav .mobile-menu-btn{
        display: block;
    }
    #about .member-list .member-img{
        padding-bottom: 20px;
    }
    #tour .address button,
    #contact button{
        width: 100%;
    }
}
