
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
    font-family:Helvetica,Arial, sans-serif;
}


.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row{
    max-width: 800px;
    padding: 64px 16px;
}

/* heading */
#nav{   
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 46px;
    background-color: black;
}
#nav .mobile-menu-btn{
    display: none;
    position: fixed;
    right: 0px;
    top: 0;
}

#nav .nav-item  li a {
    display: inline-block;
    padding: 0 24px;    
    line-height: 46px;
}

#nav li{
    list-style-type: none;
}

#nav .nav-item{
    flex: 1;
    display: flex;
}


#nav .sub-nav{
    background-color: white;
    box-shadow:0 0 10px rgba(0, 0, 0,0.3 );
}

#nav .nav-item .sub-nav a{
    width: 100%;
    text-decoration: none;
    color: black;
}


#nav .nav-item .sub-nav a{ 
    display: none;
}

#nav .nav-item li:hover .sub-nav a{
    color: black;
    display: block;
}

#nav .nav-item li:hover>a{
    background-color: #ccc;
    color: black;
}

#nav .nav-item>li> a{
    color: white;
    text-decoration: none;
}


/* content  */
#nav .mobile-menu-btn{
    line-height: 46px;
    max-height: 46px;
    color: white;
    padding: 0 24px;  
}
#nav .search{
    line-height: 46px;
    color: white;
    padding: 0 24px;
}
#nav .mobile-menu-btn:hover,
#nav .search:hover{
    background-color: red;
}

#slider{
    margin-top: 46px;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
    padding-top: 50%;
    position: relative;
}


#slider .slider-content{
    text-shadow: 0 0 1px #000;
    position: absolute;
    text-align: center;
    color: white;
    padding: 32px 16px;
    width: 100%;
    bottom: 0px;

}

#slider .slider-content h3{
    margin: 10px 0;
    font-weight: 400;
    font-size: 24px;
}


#slider .slider-content p{
    margin: 15px 0;
    font-weight: bolder;
}

#about{

    text-align: justify;
}

#about .content{
    max-width: 800px;
    padding: 64px 16px;
}


.heading{
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

.sologan{
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}


#about .about-content{
    line-height: 1.4;
    margin: 15px 0;
}


#about .member-list{
    margin-bottom: 32px;
    display: flex;
    text-align: center;
}

#about .member-list .name{
    margin: 15px 0;
}

#about .member-list .member-img{
    width: 60%;
    border-radius: 4px;
}


/* -----------------------tour ---------------------*/
#tour{

    background-color: black;
}

#tour .tour-date .tour-sologan{
    margin-bottom: 30px;
}

#tour .tour-date{
    width: 100%;
    color: white;
    max-width: 800px;
    padding: 64px 16px;
}


#tour .sold-out li{
    color: #ccc;
    background-color: white;
    position: relative;
    list-style-type:none ;
    padding: 8px 16px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}


#tour .sold-out .number{
    position: absolute;
    right: 16px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 0 8px;
    margin-left: 16px;
    border-radius: 50%;
}

#tour .sold-out span{
    color: white;
    padding: 0 8px;
    margin: 0 0 0 16px;
    background-color:#f44336;
}


#tour .address{
    padding: 32px 8px;
    margin: 0 -16px;
    max-width: 800px;
    display: flex;
}


#tour .address .address-list{
    background-clip: content-box;
    padding: 0 8px;
    margin-bottom:16px ;
    background-color: white;
    color: black;
}


#tour .address .address-list img{
    width:100%;
}


#tour .address .address-list img:hover{
    opacity: 0.6;
}


#tour .address .day{
    opacity: 0.6;
    margin: 15px 0;
}


#tour .address .address-content{
    padding: 0 16px;
}


#tour .address p{
    font-size: 15px;
    margin: 15px 0;
}


#tour .address button{
    color: white;
    font-size: 15px;
    background-color: black;
    padding: 8px 16px;
    margin-bottom:16px ;
    border: none;
}

#tour .address button:hover{
    background-color: #ccc;
    color: black;
}


/* ----------------------- contact------------------- */

#contact .contact-content{
    max-width: 800px;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
}


#contact .form-input{
    padding: 32px 0;
    display: flex;
    font-size: 18px;
}




#contact .form-contact .form-name,#contact .form-contact .form-email{
    width: 100%;
    padding: 0 8px;
}

#contact .form-input .form-contact input{
    padding: 8px;
    border: 1px solid #ccc!important;
    width: 100%;
}

#contact .form-row{
    display: flex;
    padding: 0 8px;
    margin-bottom:8px ;
    margin-left: -16px;
    margin-right: -16px;
}


#contact .form-address{
    margin: 0 0 16px;
    width: 50%;
}


#contact .form-address i{
    display: inline-block;
    width: 30px;
}

#contact .form-contact{
    display: flex;
    flex-direction: column;
}

#contact button{
    float: right;
    margin: 16px 0;
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    display: inline-block;
    font-size: 15px;
}

#contact button:hover{
    background-color: #ccc;
    color: black;
    cursor: pointer;
}


/* --------------map ---------------------*/
#map img{
    width: 100%;
}

/* --------------footer ---------------------*/
#footer{
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    opacity: 0.6;
    text-align: center;

}


.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.4 );
    justify-content: center;
    align-items: center;
}

.modal.open{
    display: flex;
}

.modal-container { 
    background: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    animation: modalFadeIn ease 0.4s;
}

header.modal-header {
    display: flex;
    color: #fff;
    justify-content: center;
    background: #009688;
    padding: 32px 16px;
}

.modal h2 {
    
    font-size: 30px;
    margin: 10px 0;
    font-weight: 400;
   /* letter-spacing: 4px; */
} 

.modal p {
    margin: 15px 0;
}

input.modal-input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    font: inherit;
}

.modal .modal-container{
    position: relative;
 
}
.modal .modal-body,.modal-footer{
    padding: 16px;
}


.modal .modal-close{
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px 16px;
}

.modal .modal-close:hover{
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

button#buy-tickets {
    padding: 20px;
    margin: 16px 0;
    color: #fff;
    width: 100%;
    background: #009688;
    border: none;
}

button#buy-tickets:hover{
    color: black;
    cursor: pointer;
    background-color: #ccc;
}

p.modal-help {
    float: right;
}


@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

/*  responsive*/

@media (max-width:46.25em) {
    .slider-content{
        display: none;
    }
    .member-list{
        flex-direction: column;
    }
    #tour .address{
        flex-direction: column;
    }
    #contact .form-input{
        flex-direction: column;
    }
    #contact .form-address{
        width: 100%;
    }
    #contact .form-row{
        flex-direction: column;
    }
    #nav {
        overflow: hidden;
    }
    #nav .search {
        display: none;
    }
    #nav .nav-item{
        display: block;
    }

    #nav .nav-item a{
        display: block;
        width: 100%;
    }
    #nav .nav-item .child{
        display: inline-block;
    }
    #nav .mobile-menu-btn{
        display: block;
    }
    #about .member-list .member-img{
        padding-bottom: 20px;
    }
    #tour .address button,
    #contact button{
        width: 100%;
    }
}
